* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


/* Header styles............................................................................................... */
header {
    top: 0px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to bottom, #100a5d, #2f15c3);
    padding: 10px 20px;
    color: white;
    position: fixed;
    z-index: 9999;
    
   
}

img {

    max-width: 100%;

}
.imagen-fondo{
    margin-top: 126px;
    max-height: 700px;
}
header .LOGO img {
    height: 100px;
    width: auto;
}
.Perfil img{
    height: auto;
}


header .contenedor {
    display: flex;
    max-width: 80%;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}


header nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li {
    list-style-type: none;
    background-color: #323741;
    padding: 10px 25px; 
    border-radius: 10px;
    overflow: visible;
    position: relative;
    width: 200px; 
    height: 50px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    font-size: 20px;
    text-align: center; 
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #323741;
    border-radius: 10px;
    list-style-type: none;
    padding: 10px;
    top: 100%;
    left: 0;
}

.dropdown.active .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    padding: 5px 0;
}

header nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    position: relative;
}

header .Perfil img {
    height: 80px;
    border-radius: 50%;
}



/*Slider*/
.Slider {
    display: flex;
    max-width: 60%; 
    justify-content: space-between; 
    align-items: center;
    text-align: center;
    gap: 25px;
}

.sliderC {
    background-image: url('boxeo_2.jpg');
    background-size: cover;
    background-position: top;
    align-items: center;
    text-align: center;
    height: 500px;
    color: white; /* Para que el texto sea visible sobre la imagen */
}
.sliderC h1 {
    padding-top: 10px;
    font-size: clamp(24px, 5vw, 62px); /* Ajuste fluido de tamaño de fuente */
  }
.sliderC p {
    font-size: clamp(24px, 5vw, 32px); /* Ajuste fluido de tamaño de fuente */
  }
.slider1 {
    
    height: 350px; 
    overflow-y: scroll;
    width: 50%;
    margin-left: 25%;
    background-color: rgba(0, 0, 0, 0.5);/* Color de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.slider1 h3 {
    font-size: clamp(8px, 5vw, 32px);
    margin: 5px 0; /* Espacio entre los elementos h3 */
}

/* Menu Desplegable............................................................................................... */

.dropdown {
    position: relative;
    display: flex;
}

.dropdown-menu {
    
    display: none;
    position: relative;
    background-color: #f9f9f9;
    justify-self: center;
    max-width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 500;
    margin-top: 10px;
}
header nav ul li .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #404060;
    padding: 10px;
    list-style: none;
    border-radius: 5px;
    top: 100%;
}
header nav ul li:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu li a {
    
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    align-items: center;
    justify-items: center;
    text-align: center;
    
}


.dropdown:hover .dropdown-menu {
    background : #323741;
    padding: 5px;
    display: block; /* Cambiado a block */
    position: absolute;
}

.dropdown a:hover{
                   
    justify-self: center;
    text-decoration: underline;
    text-decoration-color: rgb(211, 211, 216);                  /* Color del subrayado */
    
}
.arrow {
    margin-left: 8px;
}


/* Main content styles ...............................................................................................*/

main {

    display: block;
    align-items: center;             /* Alinear */
    background-color: #100a5d;
    
}


.inicio{
    display: block; 
    justify-content: center;
    align-items: center;
    background-color: #100a5d;
    height: 800px; /* Añadido para ocupar toda la altura de la ventana */
}

section img{
    position: center;
    width: 100%;
    height: 900px;
}

.TituloInicio{
    
    position: absolute;
    top:50%;
    left: 10px;
    bottom: 0;    
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0);  /* Fondo transparente */    
    border-radius: 5px;
    margin-left: 10px;
}      
.TituloInicio h1{
    font-size: 80px;
    text-align: left;
    justify-content: center;
   
}
.TituloInicio h2{
    font-size: 40px;
    text-align: left;
    justify-content: center;
    
}


.Frase {
    
    justify-content: center;
    align-items: center;
    width: fit-content;
}
.FraseMotivacional{
    
    display: flex;
    position: relative; 
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 15px;

    background-image: radial-gradient(circle, #100a5d ,#2f15c3);
    height: fit-content;
    width: fit-content;
    top: 80%;        
    text-align: justify; /* Justifica el texto */
    text-align-last: center; /* Centra la última línea del texto */
    text-justify: inter-word;           
}
.FraseMotivacional h1{
    font-size: 60px;
    text-align: center;
    justify-content: center;
    
}
.FraseMotivacional h2{
    font-size: 30px;
    text-align: center;
    justify-content: center;
    
}

.arrow-down {
    align-items: center;
    justify-content: center;
    max-width: 100px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid rgb(255, 255, 255);
}


/* Seccion de Agenda */
.agenda-section {
    margin-top: 10px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    color: white;
    text-align: center;
}
    /* Meses */
.month-carousel {
    display: flex;
    align-items: center;
    margin-top: 20px;    
}

.carousel-wrapper {
    overflow: hidden;
    width: 100vw;
    display: flex;
}

.carousel-list {
    display: flex;
    transition: transform 0.3s ease;
    padding: 0;
    list-style: none;
}

.carousel-list li {
    flex: 0 0 100px;
    text-align: center;
    background-color: #2e2e3e;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 0 10px;
    cursor: pointer;
}

.carousel-btn {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.carousel-btn:focus {
    outline: none;
}

.carousel-btn:hover {
    color: #f0f0f0;
}

.agenda-grid {
    display: grid;
    grid-template-columns: 1fr repeat(6, 1fr);
    grid-template-rows: repeat(12, 50px);
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 0px;
}

.day-label, .hour-label {
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: #2e2e3e;
    border-radius: 5px;
}

.hour {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.class-box {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.class-box:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

p, h1, h2 , h3 {
    color: #fdfdfd;
    margin-bottom: 20px;
}

h1 {
    font-family: 'Inika', serif;
    font-size: 70px;
    font-weight: 200;
}

h2 {
    font-family: 'Inika', serif;
    font-size: 32px;
    font-weight: 50;
}
h3{
    font-family: 'Inika', serif;
    font-size: 32px;
    font-weight: 50;
}

p {
    align-items: center;
}
/* Seccion de Inicio de Sesion */

.iniciodesesion {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Iniciodesesion2 {
    position: relative;
    width: 100%;
    height: 100%;
}

.Iniciodesesion2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.CUADROINICIOSESION {
    
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    background-color: #100a5d;
    padding: 90px;
    border-radius: 10px;
    box-shadow: 0 0 70px #100a5d;
    width: 50vw;
}

.CUADROINICIOSESION2 {
    gap: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.CUADROINICIOSESION2 h1 {
    font-size: 24px;
    color: #ffffff;
}       

.CUADROINICIOSESION2 form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.CUADROINICIOSESION2 label {
    margin-bottom: 5px;
    font-weight: bold;
}

.CUADROINICIOSESION2 input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.CUADROINICIOSESION2 button {
    padding: 10px;
    font-size: 18px;
    font-style: bold;
    background-color: #2f15c3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.CUADROINICIOSESION2 button:hover {
    background-color: #100a5d;
}

.inicio2{
    font-size: 30px;
    font-family: inika;
    color: #ffffff;
}

.input-registro {
    padding: 10px;
    font-size: 16px;
    width: 250px;
    color: #2e2e3e;
    font-weight: bold;
}

/* Services list styles */
#servicios ul {
    list-style-type: none;
    padding-left: 20px;
}

#servicios li {
    margin-bottom: 10px;
    position: relative;
}

#servicios li::before {
    content: "•";
    color: #e8491d;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}



/* Seccion de Ayuda */
footer {
    background-color: #100a5d;
    padding: 20px 0;
    color: white;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.footer-content .contacto-imagen {
    
    width: 200px; /* Tamaño original */
    transition: transform 0.3s ease; /* Transición suave */
}
.footer-content .left {
    width: 45%;
    align-items: center;
    justify-content: center;
}

.footer-content .right {
    width: 45%;
    align-items: center;
    justify-content: center;
}
.footer-content p{
    font-size: 20px;
    text-align: center;
    justify-content: center;
    margin-bottom: 0;
}
/* Sección de formulario de agregar clases */


.agenda-formulario h1 {
    margin-bottom: 20px;
    font-size: clamp(24px, 5vw, 48px); /* Ajuste fluido de tamaño de fuente */
    text-align: center; /* Centrar el texto */
}

form {
    background-color: #1e0aa4;
    padding: 20px;
    border: 1px solid rgb(23, 8, 120);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: #000;
}

label {
    margin-right: 10px;
    color: white;
}

input, select, button {
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #252535;
}

button {
    background-color: #575777;
    color: white; 
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #404069;
}

.error {
    color: red;
    display: none;
    width: 100%;
}

.TablaClase2 {
    padding-top: 20px;
    padding-bottom: 20px;
    width: max-content;
    border-collapse: collapse;
    margin: auto;
    color: white;
}
table {
    
    width: max-content;
    padding: center;
    height: max-content;
    border-collapse: collapse;
    text-align: center;
    margin: auto;
   
    
    
}

table, th, td {
    border: 1px solid black;
    
}

th, td {
    padding: 10px;
    text-align: center;
    
}

.hidden {
    display: none;
}
/* Responsive design */
@media (max-width: 768px) {

    .carousel {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 70px;

        
        padding-left: 0px;
        padding-right: 0px;
        display:fit-content;
        align-content: center;
        justify-content: center;
        height: auto;
        width: auto;
        
        
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 0 100px rgb(0, 0, 0);
        position: relative;
    }

    header .contenedor {
        flex-direction: column;
        gap: 10px;
        height: 257px;
    }

    header nav ul {
        flex-direction: column;
        gap: 10px;
    }
    

    footer .footer-content {
        flex-direction: column;
        gap: 10px;
        
    }

    .footer-content p {
        font-size: 0.6rem;      
    }

    .footer-content .right {

        width:  90%;
    }

    .footer-content .left {

        width:  90%;
    }
    .footer-content {
        align-items: center;
    }

    .registro-section .input-registro {
        width: 90%;
    }

    
    .perfil-section {
    
        text-align: center;
        padding-top : 200px;
    }

    .Perfil img{

        scale: 0.8;
    }
    .CUADROINICIOSESION {    
        left: 10%;
        width: 80vw;
        padding: 15%;
    }
    .TituloInicio h1{
        font-size: 40px;
        
        
    }
    .TituloInicio h2{
        font-size: 20px;
        padding-bottom: 0px;
        
    }
    .FraseMotivacional h1{
        font-size: 40px;
        
        
    }
    .FraseMotivacional h2{
        font-size: 20px;
        padding-bottom: 0px;
        
    }
    .sliderC {
       
        height: 400px;
        
    }
    .slider1 {
    
        height: 300px; 
       
    }
    
}
    @media (max-width: 768px){
        .agenda-section{
            display: none;
        }
    }
    @media (max-width: 480px) {
        header .contenedor {
            
            height: 207px;
        }

        header nav ul li a {
            font-size: 0.6rem;
        }
    
        header nav ul li{
    
            width: 100px;
            height: 30px;
        }
        header .LOGO img{
    
            height: 50px;
    
        }
    
        .registro-section h2 {
            font-size: 1.5rem;
        }
    
        .registro-section .btn-confirmar {
            padding: 8px 16px;
            font-size: 0.9rem;
        }
    
        .footer-content .contacto-imagen {
    
            width: 200px; /* Tamaño original */
            transition: transform 0.3s ease; /* Transición suave */
        }
        .sliderC {
       
            height: 300px;
            
        }
        .slider1 {
    
            height: 200px; 
           
        }
        
    }
@keyframes slide {
    0% { transform: translateX(0%); }
    10% { transform: translateX(33%); }
    23% { transform: translateX(-33%); }
    66% { transform: translateX(-20%); }
    100% { transform: translateX(0%); }
}

