* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #1e1e2c;
    
}

/* Header styles............................................................................................... */
header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to bottom, #0A545D, #15B0C3);
    padding: 10px 20px;
    color: white;
    position: fixed;
}

img {

    max-width: 100%;

}
header .LOGO img {
    height: 100px;
    width: auto;
}


header .contenedor {
    display: flex;
    max-width: 80%;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}


header nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li {
    list-style-type: none;
    background-color: #323741;
    padding: 10px 25px; 
    border-radius: 10px;
    overflow: visible;
    position: relative;
    width: 200px; 
    height: 50px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    font-size: 20px;
    text-align: center; 
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #323741;
    border-radius: 10px;
    list-style-type: none;
    padding: 10px;
    top: 100%;
    left: 0;
}

.dropdown.active .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    padding: 5px 0;
}

header nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    position: relative;
}

header .Perfil img {
    height: 80px;
    border-radius: 50%;
}


/* Menu Desplegable............................................................................................... */

.dropdown {
    position: relative;
    display: flex;
}

.dropdown-menu {
    
    display: none;
    position: relative;
    background-color: #f9f9f9;
    justify-self: center;
    max-width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 500;
    margin-top: 10px;
}
header nav ul li .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #404060;
    padding: 10px;
    list-style: none;
    border-radius: 5px;
    top: 100%;
}
header nav ul li:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu li a {
    
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    align-items: center;
    justify-items: center;
    text-align: center;
    
}


.dropdown:hover .dropdown-menu {
    background : #323741;
    padding: 5px;
    display: block; /* Cambiado a block */
    position: absolute;
}

.dropdown a:hover{
                   
    justify-self: center;
    text-decoration: underline;
    text-decoration-color: rgb(211, 211, 216);                  /* Color del subrayado */
    
}
.arrow {
    margin-left: 8px;
}


/* Sección de perfil */
.perfil-section {
    
    text-align: center;
    padding-top : 150px;
}

.perfil-foto img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.perfil-info {
    margin-top: 10px;
}

/* Agenda */
.agenda-section {
    text-align: center;
    padding: 20px;
}

.agenda-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

/* Seccion de Agenda */
.agenda-section {
    margin-top: 10px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    color: white;
    text-align: center;
}
    /* Meses */
.month-carousel {
    display: flex;
    align-items: center;
    margin-top: 20px;    
}

.carousel-wrapper {
    overflow: hidden;
    width: 100%;
    display: flex;
}

.carousel-list {
    display: flex;
    transition: transform 0.3s ease;
    padding: 0;
    list-style: none;
}

.carousel-list li {
    flex: 0 0 100px;
    text-align: center;
    background-color: #2e2e3e;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 0 10px;
    cursor: pointer;
}

.carousel-btn {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.carousel-btn:focus {
    outline: auto;
}

.carousel-btn:hover {
    color: #f0f0f0;
}

.agenda-grid {
    display: grid;
    grid-template-columns: 1fr repeat(6, 1fr);
    grid-template-rows: repeat(12, 50px);
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 0px;
}

.day-label, .hour-label {
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: #2e2e3e;
    border-radius: 5px;
}

.hour {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.class-box {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.class-box:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

/* Seccion de Pagos */
.payment-section {
    margin-top: 20px;
    width: 100%;
    justify-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    color: white;
}


.payment-grid {
    grid-template-columns: 1fr 1fr 1fr; 
    width: 80%;
    gap: 0px;
    margin-top: 20px;
}

.proximosPagos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    align-items: center;
    justify-content: center;
    gap: 40px;
}


.pagosRealizados{
    display: grid;
    grid-template-columns: 1fr 1fr ; 
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.payment-column {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
}

.payment-item {
    display: flex;    
    padding: 30px 0;
    border-radius: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.payment-item:last-child {
    border-bottom: none;
}

.payment-info {
    width: 80%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.payment-info h3 {
    margin-bottom: 10px;
}

/* seccion de Cerrar Sesión */
.cerrar-sesion {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cerrar-sesion button {
    padding: 10px 20px;
    background-color: #04656b;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.cerrar-sesion button:hover {
    background-color: #038587;
}

/* Sección de formulario de agregar clases */


.agenda-formulario h1 {
    margin-bottom: 20px;
    text-align: center; /* Centrar el texto */
}

form {
    background-color: #2e2e3e;
    padding: 20px;
    border: 1px solid #575777;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

label {
    margin-right: 10px;
}

input, select, button {
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #252535;
}

button {
    background-color: #575777;
    color: white; 
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #404069;
}

.error {
    color: red;
    display: none;
    width: 100%;
}

.TablaClase2 {
    padding-top: 20px;
    padding-bottom: 20px;
    width: max-content;
    border-collapse: collapse;
    margin: auto;
}
table {
    
    width: max-content;
    padding: center;
    height: max-content;
    border-collapse: collapse;
    text-align: center;
    margin: auto;
    
    
}

table, th, td {
    border: 1px solid black;
    
}

th, td {
    padding: 10px;
    text-align: center;
}

.hidden {
    display: none;
}

/* Seccion de Ayuda */
footer {
    background-color: #04656b;
    padding: 20px 0;
    color: white;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.footer-content .contacto-imagen {

    width: 400px; /* Tamaño original */
    transition: transform 0.3s ease; /* Transición suave */
}
.footer-content .left {
    width: 45%;
    align-items: center;
    justify-content: center;
}

.footer-content .right {
    width: 45%;
    align-items: center;
    justify-content: center;
}
.footer-content p{
    font-size: 20px;
    text-align: center;
    justify-content: center;
    margin-bottom: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    header .contenedor {
        flex-direction: column;
        gap: 10px;
        height: 80%;
    }

    header nav ul {
        flex-direction: column;
        gap: 10px;
    }

    footer .footer-content {
        flex-direction: column;
        gap: 10px;
        
    }

    .footer-content p {
        font-size: 0.6rem;      
    }

    .footer-content .right {

        width:  90%;
    }

    .footer-content .left {

        width:  90%;
    }
    .footer-content {
        align-items: center;
    }

    .registro-section .input-registro {
        width: 90%;
    }

    
    .perfil-section {
    
        text-align: center;
        padding-top : 200px;
    }

    .Perfil img{

        scale: 0.8;
    }
    
}

@media (max-width: 480px) {

    header nav ul li a {
        font-size: 0.6rem;
    }

    header nav ul li{

        width: 100px;
        height: 30px;
    }
    header .LOGO img{

        height: 50px;

    }

    .registro-section h2 {
        font-size: 1.5rem;
    }

    .registro-section .btn-confirmar {
        padding: 8px 16px;
        font-size: 0.9rem;
    }

    .footer-content .contacto-imagen {

        width: 200px; /* Tamaño original */
        transition: transform 0.3s ease; /* Transición suave */
    }
    
    /*Media query para pantallas pequeñas */
    .payment-grid {
            grid-template-columns: 1fr; /* Cambiar a una columna */
            width: 100%; /* Opcional: Ajustar el ancho a 100% para pantallas pequeñas */
    }

    .payment-column {
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        padding: 20px;
        border-radius: 10px;
        align-items: center;
        justify-content: space-between;
        flex-direction: column; /* Organiza los elementos en columnas */
        gap: 40px; /* Espacio entre los elementos */
    }
   
    
    .payment-info {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
   
}
@media (max-width: 768px){
.agenda-section{
    display: none;
}


}